@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i");

body {
  background-image: url(./assets/calendar.jpg);
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 100px;
  position: absolute;
  text-align: center;
  top: 40px;
  left: 100px;
  margin: 15px;
  text-transform: uppercase;
}

/* Fill you style below */
